<h1 class="text-center mt-3">Resetear contraseña</h1>
<div class="container custom-container">
    <form>
        <div class="mb-3">
            <label for="email" class="form-label">Correo electronico</label>
            <input [(ngModel)]="forgot.email" name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
        </div>
        <div class="mt-3 text-center">
            <a routerLink="/">¿Ya recuerdas tu contraseña?</a>
        </div>
        <button type="submit" class="btn btn-primary mt-3 d-block mx-auto" (click)="resetPassword()">Enviar email</button>
    </form>
</div>
