<h1 class="text-center mt-3">Actualizar contraseña</h1>
<div class="container custom-container">
    <form>
        <div class="mb-3">
            <label for="currentPassword" class="form-label">Contraseña actual</label>
            <input [(ngModel)]="passwords.currentPassword" name="currentPassword"  type="password" class="form-control"
            id="currentPassword">
        </div>
        <div class="mb-3">
            <label for="newPassword" class="form-label">Nueva contraseña</label>
            <input [(ngModel)]="passwords.newPassword" name="newPassword"  type="password" class="form-control"
            id="newPassword">
        </div>
        <button type="submit" class="btn btn-primary mt-3 d-block mx-auto" (click)="updatePassword()">Actualizar</button>
    </form>
</div>
